.user-container{
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.user-login{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    margin: 5px;
    border: 2px black solid;
    width: 90px;
    cursor: pointer;
    
}  
.user-logout{
    display: flex;
    align-items: center;
    justify-content: center;
}.user-logout img{
    border-radius: 50%;
    height: 40px;
    width:40px;
    border: 2px white solid;
}  